html,body{
	width: 100%;
	height: 100%;
}
body, body * {
    vertical-align: baseline;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 9pt;
}
.logo{
	margin-top: 10px;
	margin-left: 10px; 
	width: 200px;
	height: 100px;
	position: relative;
}
.samsungGalaxyLogo,.samsungLogo{
	width: 100%;
	height: 50%;
	float: left;
	background-size: contain;
	background-repeat: no-repeat;
}
.samsungGalaxyLogo{
	background-image: url(../images/T_GalaxyLogo.png);
}
.samsungLogo{
	width: 40%;
	height: 15%;
	background-image: url(../images/T_SamsungLogo.png);
}
.gragToExplore{
	background-image: url(../images/T_SliderText.png);
	background-repeat: no-repeat;
	background-size: contain;
	width: 96px;
	height: 32px;
	position: absolute;
    left: 820px;
    top: 20px;
}
div.main{
	width:970px;
	height: 300px;
	border: 1px solid;
	position: relative;
	
}

div.phone{
	position: absolute;
	left: 300px;
	top: 20px;
	width: 470px;
	height: 216px;
	background-image: url(../images/phone_sprite.png);
	background-position: -24px 0px;
	background-repeat: no-repeat;
}

.containerDrag {
    width: 20px;
    height: 216px;
    position: absolute;
    left: 800px;
    top: 25px;
}
.dragPoint {
	z-index: 110;
	position: absolute;
	top:0;
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    cursor: move;
    touch-action: pan-x;
}
.dragBar {
    width: 1px;
    height: 200px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 49%;
}
.text {
	transition:0.5s;
	background-image: url(../images/T_Text1.png);
	background-repeat: no-repeat;
    width: 100%;
    height: 50px;
    position: absolute;
    top: 250px;
}
.flash{
	display: none;
	background-image: url(../images/flash.png);
	height: 100px;
	width: 100px;
	background-size: cover;
	position: absolute;
    left: 20px;
    top: 20px;
    z-index: 10;
    animation: rotateFlash 0.3s 0s linear;
}

iframe{
	position: relative;
	z-index: 10;
	margin: 11px auto;
    display: block;
}
.glass{
	top: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

.topGlass,.bottomGlass{
	position: absolute;
	background-image: url("../images/970x250_highlights.png");
	background-position: -369px -24px;
	width: 363px;
	height: 8px;
	top: 10px;
    left: 55px;
    z-index: 11;
}
.bottomGlass{
	background-position: -369px -209px;
	width: 363px;
	height: 11px;
	top: 195px;
}

.youtubeSection:before,.youtubeSection:after{
	content:"";
	left: 55px;
	height: 200px;
	position: absolute;
	width: 20px;
	background-color: black;
}
.youtubeSection:after{
	z-index: 5;
	top: 8px;
    left: 395px;
}
.rain{
	background-repeat: no-repeat;
	background-size: contain;
	animation: rainDrop 0.1s 0s linear reverse;
	transition: 1s;
	z-index: 50;
}
.simPort, .simShine, .sim{
	z-index: 20;
    overflow: hidden;
    left: 55px;
    width: 59px;
    height: 48px;
    position: absolute;
    top: 140px;
}
.simPort{
	display: none;
}
.sim{
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url('../images/internals_frame.png') no-repeat -369px -151px;
}
.simShine{
	z-index: 10;
	top: 50px;
    left: -35px;
	transform: rotate(-45deg);
	background: url('../images/card_highlight.png') no-repeat;
	animation: shineMove 0.5s 0.5s 2 linear;
}

.button{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-size: 133px 42px;
	background-position: 95% 90%;
	background-image: url(../images/T_CTA.png);
	background-repeat: no-repeat;
	cursor: pointer;
}

.closeAd{
	z-index: 100;
	position: absolute;
    top: 0px;
    right: 0px;
    left: auto;
    bottom: auto;
    width: auto;
    height: auto;
    cursor: pointer;
}
.closeAd > span{
	position: relative;
    bottom: 9px;
    font-family: arial, sans-serif;
    font-size: 11px;
    letter-spacing: 0.4px;
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

a:focus~*{
	display: none;
}

@keyframes rotateFlash{
	100%{
		left:-480px;
		top:-480px;
		width: 1000px;
		height: 1000px;
		transform: rotate(2880deg);
	}

}

@keyframes rainDrop{
	100%{
		left:55px;
		top:55px;
		width: 100px;
		height: 100px;
	}
}

@keyframes shineMove{
	100%{
		left: 25px;
		top: -25px;
	}
}