@import '../../../node_modules/bootstrap/scss/bootstrap';

.main-view-container{
  &>div{
    @extend .col-12;
    button{
      cursor: pointer;
    }
    .btn-toolbar{
      margin: 0 auto;
    }
    .example-zone{

    }
    .left {
      float: left !important;
    }
    .right {
      float: right !important;
    }
  }
}