<div class="btn-toolbar col-md-3 col-xs-6" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group mr-2" role="group" aria-label="First group">
        <button type="button" data-name="ex1" class="btn btn-secondary">1</button>
        <button type="button" data-name="ex2" class="btn btn-secondary">2</button>
        <button type="button" data-name="ex3" class="btn btn-secondary">3</button>
    </div>

    <div class="btn-group mr-2" role="group" aria-label="Second group">
        <button type="button" data-name="ex4" class="btn btn-secondary">1*</button>
        <button type="button" data-name="ex5" class="btn btn-secondary">2*</button>
        <button type="button" data-name="ex6" class="btn btn-secondary">3*</button>
    </div>
</div>

<div class="example-zone col-12">
    <h1>Example of my work!</h1>
</div>